<%- include('layout/header') %>

    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="h1">Ajouter une distance</p>
                    <form class="mt-3" action="/form_distances" method="POST">
                        <!-- Nom et prénom -->
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="com_a">Commune A</label>
                                    <select class="custom-select d-block form-control select2" id="com_a" name="com_a"required>
                                     </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="com_a">Commune B</label>
                                    <select class="custom-select d-block form-control select2" id="com_b" name="com_b"
                                        required>
                                        <option value="" disabled selected>Choisir une commune</option>
                                        <% lesCommunes.forEach(function(uneCommune){ %>
                                            <option value="<%= uneCommune.com_id %>">
                                                <%= uneCommune.com_nom + ' (' + uneCommune.com_cp + ')' %>
                                            </option>
                                            <% })%>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Mutuelle -->
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="km">Distance</label>
                                    <input type="number" class="form-control" id="km" name="km" placeholder="Distance"
                                        required></input>
                                </div>
                            </div>
                        </div>


                        <div class="mt-4">
                            <button type="submit" class="btn-block btn btn-primary btn-lg">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container table-responsive py-5">
        <p class="h1 mb-4">Liste des distances</p>
        <table class="table table-bordered table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Commune A</th>
                    <th scope="col">Commune B</th>
                    <th scope="col">Distance</th>
                </tr>
            </thead>
            <tbody>
                <% lesDistances.forEach(function(uneDistance){ %>
                    <tr>
                        <th>
                            <%= uneDistance.dis_id %>
                        </th>
                        <td>
                            <%= uneDistance.comA_nom %>
                        </td>
                        <td>
                            <%= uneDistance.comB_nom %>
                        </td>
                        <td>
                            <%= uneDistance.dis_km %> km
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </div>

    <%- include('layout/footer') %>