<%- include('layout/header') %>



    <div class="container table-responsive py-5">
        <p class="h1">Validation des missions</p>
        <table class="table table-bordered table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Salarié</th>
                    <th scope="col">Début mission</th>
                    <th scope="col">Fin mission</th>
                    <th scope="col">Agence</th>
                    <th scope="col">Lieu mission</th>
                    <th scope="col">Validée</th>
                    <th scope="col">Remboursée</th>
                </tr>
            </thead>
            <tbody>
                <% lesMissions.forEach(function(uneMission){ %>
                    <tr>
                        <th>
                            <%= uneMission.sal_nom + ' ' + uneMission.sal_prenom %>
                        </th>
                        <td>
                            <%= uneMission.mis_debut %>
                        </td>
                        <td>
                            <%= uneMission.mis_fin %>
                        </td>
                        <td>
                            <%= uneMission.mis_idSalCom %>
                        </td>
                        <td>
                            <%= uneMission.mis_idCom %>
                        </td>
                        <td>
                            <% if (uneMission.mis_validee) { %>Oui<% } else { %>
                                    <button class="btn btn-primary" onclick="location.href='/valider/<%= uneMission.mis_id  %>'">Valider</button>
                           <% } %>
                        </td>

                        <td>
                            <% if (uneMission.mis_payee) { %>Oui<% } else { %>Non<% } %>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </div>


    <%- include('layout/footer') %>