<%- include('layout/header') %>



    <div class="container table-responsive py-5">
        <p class="h1">Remboursement des missions</p>
        <table class="table table-bordered table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Salarié</th>
                    <th scope="col">Début mission</th>
                    <th scope="col">Fin mission</th>
                    <th scope="col">Agence</th>
                    <th scope="col">Lieu mission</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Remboursée</th>
                </tr>
            </thead>
            <tbody>
                <% lesMissions.forEach(function(uneMission){ %>
                    <tr>
                        <th>
                            <%= uneMission.sal_nom + ' ' + uneMission.sal_prenom %>
                        </th>
                        <td>
                            <%= uneMission.mis_debut %>
                        </td>
                        <td>
                            <%= uneMission.mis_fin %>
                        </td>
                        <td>
                            <%= uneMission.comA_nom %>
                        </td>
                        <td>
                            <%= uneMission.comB_nom %>
                        </td>
                        <td>
                            <% if(uneMission.dis_km) { %>
                                <%= uneMission.dis_km %> <%= uneMission.mis_jour %>€
                            <%} else {%>
                            A definir
                            <% } %>
                        </td>

                        <td>
                            <% if (uneMission.mis_payee) { %>Oui<% } else { %>
                                    <button class="btn btn-primary"
                                        onclick="location.href='/rembourser/<%= uneMission.mis_id  %>'">Rembourser</button>
                                    <% } %>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </div>


    <%- include('layout/footer') %>